<content>
	<div class="canvas-wrapper">
		<canvas class="game-bg"></canvas>
		<canvas class="game-cvs" width="720" height="480"></canvas>
	</div>

	<div class="view start show">
		<h1>Tronikas</h1>
		<div class="button-group">
			<div>
				<span class="icon-tutorial"></span>
				<label>Tutorial</label>
			</div>
			<div data-click="start-new-game">
				<span class="icon-arcade"></span>
				<label>Singularity</label>
			</div>
			<div>
				<span class="icon-music"></span>
				<label for="music">Music</label>
				<span class="check-button">
					<input type="checkbox" id="music" checked/>
					<i></i>
				</span>
			</div>
			<div>
				<span class="icon-sound-fx"></span>
				<label for="sound-fx">Sound FX</label>
				<span class="check-button">
					<input type="checkbox" id="sound-fx"/>
					<i></i>
				</span>
			</div>
			<div>
				<span class="icon-info"></span>
				<label>About...</label>
			</div>
		</div>
	</div>
</content>
